.container {
    width:100%;
    font-size: 3vw;
    text-align: center;
}
.bold {
	color:darkorange;
}

.link-json a {
   
	text-decoration: none;
    background-color:#434a43;
    border-radius:5px;
    padding:10px;
    color: azure;
}
 a:hover {
    color:beige;
}